/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
}
.container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.logo > img {
  background-color: #111;
  width: 115px;
}
.top {
  max-width: 350px;
  margin: 13px 0px;
}
.signIn__box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.title > h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
form > label {
  font-size: 13px;
  margin: 10px 0px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
form > input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 5px;
  margin-bottom: 10px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
}
form > input:focus {
  outline: none;
  box-shadow: 0px 0px 6px #ffb600;
  border-color: #a88734 #9c7e31 #846a29;
}
form > button {
  width: 100%;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 8px 0px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  cursor: pointer;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
form > button:hover {
  background: #edc35b;
}
.terms > p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 7px 0px;
  line-height: 1.5;
}
.terms > p > span {
  color: #0066c0;
}
.help > p {
  font-size: 12px;
  color: #0066c0;
  font-family: "Poppins", sans-serif;
}
.new__user_title::before {
  border-top: 1px solid rgb(226 226 226);
  content: "";
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 32%;
}
.new__user_title::after {
  border-top: 1px solid rgb(226 226 226);
  content: "";
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 32%;
}
.new__user_title {
  display: table;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  margin: 15px auto 1em;
  color: #767676;
  position: relative;
  text-align: center;
  width: 100%;
}

.new__user_btn {
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
}
.new__user_btn > button {
  width: 100%;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid;
  color: #111;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
}
.new__user_btn > button:hover {
  background: #dddee1;
}

.bottom {
  width: 100%;
  text-align: center;
  margin: 5px auto 5px;
  box-shadow: 0px 6px 6px #f7f8fb inset;
}
.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding-top: 25px;
}
.policy > p {
  margin-right: 15px;
  font-size: 11px;
  font-weight: 400;
  color: #0066c0;
  font-family: "Poppins", sans-serif;
}
.policy > p:hover,
.terms > p > span:hover,
.help > p:hover {
  text-decoration: underline;
  color: #c45500;
  cursor: pointer;
}
.copyright {
  text-align: center;
  margin: 5px 0px;
}
.copyright > p {
  font-size: 11px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #555;
}

button:hover {
  cursor: pointer;
}

a {
  color: #000;
}

.error {
  color: red;
}
